body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg2.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fffce5c7;
    margin-top: 250px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spacer {
margin-top: 200px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    text-align: center;
    background-color: #ffffff42;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.subscribe-button {
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: #3072af;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #58a100;
}

.subscribe-button2 {
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: #9000ff;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.subscribe-button2:hover {
    background-color: #0096a1;
}


@media only screen and (max-width: 600px) {
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-image: url("bg3.png");
  line-height: 1.8;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

}


    .container {

        margin-top: 250px;

    }
  }